td {
    align-content: center !important;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    text-align: center !important;
}

/* .detailed_text {
    width: 100%;
    height: 600px;
    white-space: pre; /* Preserve formatting */
    /* font-family: monospace; Use monospace font to mimic code editor */
/* }  */

.cke_top,
.cke_bottom {
    display: none !important;
}

.no-display{
    display: none !important;
}
